<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ktech.todolist" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>To Do List</name>
    <description>
        To Do List helps you kep a track of all the tasks you need to complete soon. Add the title and description of the tasks to make a list and check them off one by one.
    </description>
    <author email="ceo@khuranatech.in" href="http://khuranatech.in">
        Khurana Technologies
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="permissions" value="none"/>
    <preference name="orientation" value="portrait"/>
    <preference name="target-device" value="universal"/>
    <preference name="webviewbounce" value="true"/>
    <preference name="prerendered-icon" value="true"/>
    <preference name="stay-in-webview" value="false"/>
    <preference name="show-splash-screen-spinner" value="false"/>
    <preference name="ios-statusbarstyle" value="black-opaque"/>
    <preference name="detect-data-types" value="true"/>
    <preference name="exit-on-suspend" value="false"/>
    <preference name="auto-hide-splash-screen" value="true"/>
    <preference name="disable-cursor" value="false"/>
    <preference name="android-minSdkVersion" value="14"/>
    <preference name="android-installLocation" value="auto"/>
    <plugin name="cordova-plugin-device-orientation" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-websql" />
    <icon src="img/icon.png"/>
    <gap:splash src="img/app-splash.png"/>
    <access origin="*"/>
    <plugin name="cordova-plugin-whitelist" version="1"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <platform name="android">
      <allow-intent href="market:*"/>
    </platform>
    <platform name="ios">
      <allow-intent href="itms:*"/>
      <allow-intent href="itms-apps:*"/>
    </platform>
</widget>